<!doctype html>
<html>
<head>
	<title>Profil</title>
    <% include layout %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include navbars %>


	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<span class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h2><i class="far fa-user" style="color: #1D7874"></i> &nbsp;Profil</h2>
			</span>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br>

					<div class="box box-green">
						<div class="box-header with-border">
							<h3 class="box-title">Informations personnelles</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label for="nom" class="col-sm-2 control-label">Nom</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" id="nom" placeholder="Nom">
									</div>
								</div>
								<div class="form-group">
									<label for="prenom" class="col-sm-2 control-label">Prénom</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" id="prenom" placeholder="Prénom">
									</div>
								</div>

							</div>
							<!-- /.box-body -->
							<div class="box-footer text-center">
								<button type="submit" class="btn btn-green pull-middle">Enregistrer</button>
							</div>
							<!-- /.box-footer -->
						</form>
					</div>



				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<!-- To the right -->
		<div class="pull-right hidden-xs">
			Anything you want
		</div>
		<!-- Default to the left -->
		<strong>Copyright &copy; 2018 <a href="#">Company</a>.</strong> All rights reserved.
	</footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
